<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.delta"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name=".myapp">
        <activity android:name=".appactivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".status"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.delta.CLEARSCREEN"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".formactivity" android:label="@string/menu" />
        
       </application>
       <uses-permission android:name="android.permission.INTERNET"></uses-permission>
       <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>